
body {  margin: 0px; padding: 10px; }

.marquee {
    font-size: 16px;
    height:425px;
    max-width: 1200px;
    margin: 0px auto 20px auto;
    border: 1px solid #ccc;
}

.marquee .marquee_data {
    display: none;
}

.marquee .marquee_stage_large {
    height: inherit;
    position: relative;
    overflow: hidden;
}

.marquee .marquee_container_1,
.marquee .marquee_container_2 {
    height: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.marquee .marquee_container_1 {
    z-index: 101;
}
.marquee_container_2 {
    z-index: 102;
}

.marquee .marquee_panel {
    height: inherit;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover;
}

.marquee .marquee_panel .panel_caption {
    width: 68%;
    position: absolute;
    bottom: 35px;
    left: 0px;
    margin-left: 16%;
    font-family: 'Lato', sans-serif;
    padding-bottom: 15px;
}

.marquee .marquee_panel .panel_caption h3 { 
    font-family: 'PT Serif', serif; 
    margin: 0px 0px 0px 0px; 
    font-weight: 400; 
    font-size: 2.7em; 
    color:#fff; 
}

/* .marquee .marquee_panel .panel_caption a.cta { 
    display: inline-block; 
    background-color: rgba(255,255,255,0); 
    text-transform: uppercase; color:#fff; 
    font-size: .9em; 
    padding: 6px 20px; 
    transition: background-color .7s, border .7s; 
    border: 1px solid rgba(255,255,255,.5); 
    border-radius: 5px; 
    text-decoration: none; 
} */

/* .marquee .marquee_panel .panel_caption a:hover { 
    background-color: rgba(255,255,255,.6); 
    color:#000; 
    border-color: rgba(255,255,255,0); 
} */

.marquee .overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0) 45%, rgba(0,0,0,.7)70%);
    background-size: 100%;
}

.marquee .marquee_nav {
    position: absolute;
    bottom: 10px;
    left: 0px;
    text-align: center;
    width: 100%;
    z-index: 103;
}

.marquee .marquee_nav div {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 50%;
    margin: 0px 8px 0px 8px;
    cursor: pointer;
    transition: background-color .4s, border .4s;
}

.marquee .marquee_nav div:hover {
    border-color: #fff;
    background-color: rgba(255,255,255,.2);
}

.marquee .marquee_nav div.selected {
    background-color: #fff;
}

.marquee .btn {
    width: 39px;
    height: 39px;
    background: rgba(255,255,255,.2) no-repeat;
    background-size: 50px 30px;
    position: absolute;
    top: 192px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,.5);
    transition: background-color .4s, border .4s;
}   

.marquee .btn:hover {
    border-color: #fff;
    background-color: rgba(0,0,0,.6);
}

.marquee .btn.prev {
    left: 20px;
    z-index: 104;
    background-image: url(./images/arrow_left.svg);
    background-position: -8px 4px;
}

.marquee .btn.next {
    right: 20px;
    z-index: 195;
    background-image: url(./images/arrow_right.svg);
    background-position: -3px 4px;
}

/* .marquee .marquee_stage_small {
    height: inherit;
    position: relative;
    overflow: hidden;
} */

.marquee .marquee_stage_small .marquee_panel {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
}

@media screen and (max-width: 800px){
    .marquee {
        font-size: 14px;
        height: 325px;
        background-color: #444;
    }
    .marquee .btn {
        width: 29px;
        height: 29px;
        background-size: 33px 20px;
        top: 140px;
    }
    .marquee .btn.prev {
        background-position: -4px 4px;
    }
    .marquee .btn.next {
        background-position: -1px 4px;
    }
    .marquee .marquee_panel .panel_caption {
        width: 80%;
        margin-left: 10%;
    }
    .marquee .marquee_panel .panel_caption p {
        display: none;
    }
    .marquee .marquee_panel .panel_caption a.cta {
        margin-top: 10px;
        padding: 4px 20px;
    }
    .marquee .marquee_nav div {
        widows: 13px;
        height: 13px;
        margin: 0px 12px 0px 12px;
    }
}

@media screen and (max-width: 600px) {
    .marquee {
        height: 250px;
    }

    .marquee .marquee_panel .panel_caption {
        margin: 0px; 
        padding: 10px 10px 20px 10px;
        width: 100%;
        bottom: 0px;
        background-color: rgba(0,0,0,.65)
    }
    .marquee .marquee_panel .panel_caption a.cta {
        padding: 8px 30px;
    }
    
}